## LaTeX začasne datoteke ##
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.ind
*.idx
*.ilg
*.run.xml

## PDF (ne ignoriraj če želiš slediti končnemu PDF) ##
# *.pdf

## Druge začasne datoteke ##
*~
.*.swp
.DS_Store